<header class="header">
    <div class="top-header">
        <div>
            <a href="#">
                <img class="logo" src="~/Assets/client/img/logo.png" />
            </a>
            <ul class="social-icons">
                <li><a target="_blank" href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a target="_blank" href="#" class="facebook"><i class="fa fa-twitter"></i></a></li>
                <li><a target="_blank" href="#" class="googleplus"><i class="fa fa-google-plus"></i></a></li>
                <li><a target="_blank" href="#" class="youtube"><i class="fa fa-youtube-play"></i></a></li>
            </ul>
            <style>
                .header-info {
                    float: right !important;
                }
            </style>

            <div class="header-info">
                <div data-click="Search" data-click-phase="0">
                    <form method="POST" action="https://xehay.vn/tim-kiem" accept-charset="UTF-8" class="_539- roundedBox" id="searchBarClickRef" role="search">
                        <input name="_token" type="hidden" value="b6UqWAeFh1a05U5OT9TYwneNrirjIiD0hJQ0Z0b4">
                        <div class="smurfbarTopBorder"></div>
                        <div class="uiTypeahead" data-ft="{&quot;tn&quot;:&quot;+Q&quot;}" id="u_0_c">
                            <div class="wrap">
                                <input type="hidden" autocomplete="off" class="hiddenInput">
                                <div class="innerWrap">
                                    <span class="uiSearchInput textInput" id="u_0_d">
                                        <span>
                                            <input type="text" name="keyword" value="" placeholder="Tìm kiếm nội dung trong Xe Hay" class="inputtext" maxlength="100" aria-label="Tìm kiếm" accesskey="/" aria-autocomplete="list" aria-expanded="false" aria-owns="typeahead_list_u_0_c" aria-haspopup="true" role="combobox" spellcheck="false" singlestate="undefined" />
                                            <button type="submit" title="Nhập nội dung tìm kiếm">
                                                <span class="accessible_elem">Tìm kiếm nội dung</span>
                                            </button>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="smurfbarBottomBorder"></div>
                    </form>

                </div>
            </div>

            <div style="float: right; width: 149px; height: 100%; padding-top: 10px;">

            </div>

            <div class="clear"></div>
        </div>
    </div>





    <div class="banner-home-1AB banner-1000px">
        <div id="banner1ab" class="relative">





            <div style="margin-bottom: 8px;height: 220px;width: 1000px; position: relative;">
                <a target="_blank" class="href_ads_home3B" href="#" style="position: absolute; width: 100%; height: 100%; left: 0; top: 0"></a>
                <img src="~/Assets/client/data/26-4-1000x220.jpg" alt="">
            </div>




        </div>
        <div class="clear"></div>
    </div>


    <nav class="menu">
        <ul>
            <li style="padding: 0 7px;">
                <a href="#">
                    <img src="/Assets/client/data/home.png" style="margin-top: 5px;" width="20" />
                </a>
            </li>

            <li>
                <a href='#'>Tin Tức</a>
                <ul class="sub">
                    <li class='lisub'><a href='#'>Trong nước</a></li>
                    <li class='lisub'><a href='#'>Quốc tế</a></li>
                    <li class='lisub'><a href='#'>Giao thông</a></li>
                    <li class='lisub'><a href='#'>Giải trí</a></li>
                </ul>
            </li>
            <li>
                <a href='#'>Xe Hay TV</a>
                <ul class="sub">
                    <li class='lisub'><a href='#'>Clip phóng sự</a></li>
                    <li class='lisub'><a href='#'>Hùng Lâm</a></li>
                </ul>
            </li>
            <li>
                <a href='#'>Ô tô mới</a>
                <ul class="sub"></ul>
            </li>
            <li>
                <a href='#'>Xe máy mới</a>
                <ul class="sub"></ul>
            </li>
            <li>
                <a href='#'>Đánh giá xe</a>
                <ul class="sub">
                    <li class='lisub'><a href='#'>Đánh giá Ô tô</a></li>
                    <li class='lisub'><a href='#'>Đánh giá Xe máy</a></li>
                    <li class='lisub relative'>
                        <a class='destop' href='#'>Emagazine</a>
                        <ul class="sub2">
                            <li class='lisub'><a href='#'>Emagazine </a></li>
                            <li class='lisub'><a href='#'>Toyota 2021 - Look Back</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href='#'>Kinh nghiệm</a>
                <ul class="sub">
                    <li class='lisub'><a href='#'>Ô tô</a></li>
                    <li class='lisub'><a href='#'>Xe máy</a></li>
                    <li class='lisub'><a href='#'>Luật giao thông</a></li>
                </ul>
            </li>
            <li>
                <a href='#'>Xe và Thợ</a>
                <ul class="sub">
                    <li class='lisub'><a href='#'>Thợ Ô tô</a></li>
                    <li class='lisub'><a href='#'>Cafe Racer</a></li>
                    <li class='lisub'><a href='#'>Thợ Xe máy</a></li>
                </ul>
            </li>
            <li>
                <a href='#'>Thể thao</a>
                <ul class="sub"></ul>
            </li>
            <li>
                <a href='#'>Công nghệ</a>
                <ul class="sub"></ul>
            </li>
            <li>
                <a href='#'>Triển lãm Ô tô</a>
                <ul class="sub">
                    <li class='lisub'><a href='#'>Việt Nam</a></li>
                    <li class='lisub'><a href='#'>Bangkok</a></li>
                    <li class='lisub'><a href='#'>Detroit</a></li>
                    <li class='lisub'><a href='#'>Frankfurt</a></li>
                    <li class='lisub'><a href='#'>Geneva</a></li>
                    <li class='lisub'><a href='#'>Los Angeles</a></li>
                    <li class='lisub'><a href='#'>New York</a></li>
                    <li class='lisub'><a href='#'>Paris</a></li>
                    <li class='lisub'><a href='#'>SEMA</a></li>
                    <li class='lisub'><a href='#'>Tokyo</a></li>
                </ul>
            </li>
            <li>
                <a href='#'>Bảng giá</a>
                <ul class="sub">
                    <li class='lisub'><a href='#'>Ô tô</a></li>
                    <li class='lisub'><a href='#'>Xe máy</a></li>
                </ul>
            </li>

        </ul>
    </nav>



    <script src="js/jquery.menu-aim.js"></script>



    <div class="banner-home-2AB banner-1000px relative" style="position: relative;">
        <div id="banner2ab">

            <a target="_blank" class="href_ads_home3B" href="#" style="position: absolute; width: 100%; height: 100%;"></a>
            <img src="/Assets/client/data/1000x120.jpg" alt="" style="border: 0px; display: block; overflow: hidden; margin: 0px auto; width: 1000px; height: 120px;">
        </div>
        <div class="clear"></div>
    </div>





</header>