<footer class="footer" style="padding-top:1px;">
    <div class="foot">


        <div class="wrap-address">
            <div class="address">
                <p style="text-align: center;">&nbsp;</p>
                <div style="width:100%; margin-bottom:10px;">
                    <style>
                        .footer-copyright {
                            width: 50%;
                            float: left;
                            text-align: left;
                        }

                        .extra {
                            width: 50%;
                            float: left;
                        }
                    </style>
                    <div class="footer-copyright">
                        <p>
                            <em>Giấy phép số: 2649/GP - TTĐT, Sở Thông tin và Truyền thông Hà Nội.</em><br />
                            <em><em>Cấp ngày 28/8/2015.</em></em>
                        </p>

                        <p><em>Chịu trách nhiệm nội dung: Bùi Mai Linh</em></p>

                        <p><em>Cơ quan chủ quản: Công ty TNHH Xe Hay</em></p>

                        <p><em>Địa chỉ: P802A, Toà nhà 47 Lê Văn Hưu, quận Hai Bà Trưng, Hà Nội</em></p>

                        <p><em>Điện thoại: 0947924688</em></p>

                        <p><em>Email: noidung@xehay.vn</em></p>
                    </div>
                    <div class="extra col-sm-6">
                        <p>
                            <a class="social1" href="#" target="_blank">
                                <img src="/Assets/client/data/facebook.png" style="height: 28px; width: 28px;" />
                            </a>

                            <a class="social" href="#" target="_blank">
                                <img src="/Assets/client/data/twitter.png" style="height: 28px; width: 28px;" />
                            </a>
                            <a class="social" href="#" target="_blank">
                                <img src="/Assets/client/data/google-plus.png" style="height: 28px; width: 28px;" />
                            </a>
                            <a class="social" href="#" target="_blank">
                                <img src="/Assets/client/data/youtube.png" style="width: 28px; height: 28px;" />
                            </a>
                            <span class="g-plusone">&nbsp;</span>
                            <span class="fb-like" data-action="like" data-href="https://www.facebook.com/xehay" data-layout="button" data-show-faces="true" style="text-align: center;">&nbsp;</span>

                        </p>
                        <p>
                            <a class="social" href="#" target="_blank">
                                <img src="/Assets/client/data/logo_tttd.jpg" style="height: 28px;" />
                            </a>
                            <a class="social" href="#" target="_blank">
                                <img src="/Assets/client/data/tuoitre-doisong.jpg" style="height: 28px;" />
                            </a>
                            <a class="social" href="#" target="_blank">
                                <img src="/Assets/client/data/tuoitre-phapluat.png" style="height: 28px;" />
                            </a>
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</footer>