<!DOCTYPE html>
<html class="no-js" lang="vi" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#" itemscope="itemscope" itemtype="http://schema.org/WebPage">
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <title>Xe Hay</title>
    <link rel="stylesheet" href="css/pager.css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.yiiactiveform.js"></script>


    <link rel="stylesheet" href="~/Assets/client/css/normalize.min.css" />
    <link rel="stylesheet" href="~/Assets/client/css/main.v4.min.css" />
    <link rel="stylesheet" href="~/Assets/client/css/xehay.v52.min.css" />
    <link rel="stylesheet" href="~/Assets/client/css/mobile.xehay.rev80.min.css" />
    <link rel="stylesheet" href="~/Assets/client/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Assets/client/css/colorbox.css" />


    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.cookie.min.js"></script>
    <script src="js/helper.min.js"></script>
    <script src="js/jquery.dotdotdot.min.js"></script>
    <script src="js/detect.min.js"></script>
    <script src="js/main.v5.min.js"></script>

    <script src="js/jquery.colorbox-min.js"></script>

    <script src="js/platform.js"></script>




    <script type="text/javascript">
        function scrollDownPage() {
            var scr_height = screen.availHeight;
            $('#mainpage').animate({
                marginTop: scr_height + "px"
            }, 1500);
            setTimeout(function () {
                $('#mainpage').animate({
                    marginTop: "200px"
                }, 1500);
            }, 8000);
        }

        function scrollUpPage() {
            $('#mainpage').animate({
                marginTop: "200px"
            }, 1500);
        }
    </script>


    <link href="css/video-js.v5.min.css" rel="stylesheet" type="text/css" />

    <script src="js/video.dev.min.js"></script>

    <script>
        videojs.options.flash.swf = "/videojs/video-js.swf";
    </script>


    <div class="vcontroll andytest">
        <span class="vmini" title="Down" id="btnmini" data-status="open">
            <i class="fa fa-chevron-down"></i>
        </span>

        <span class="vplaypause" title="Pause" id="btnplay" data-status="play">
            <i class="fa fa-pause"></i>
        </span>

        <span class="vreplay" title="Replay" id="btnreplay" data-status="play">
            <i class="fa fa-refresh"></i>
        </span>
        <span class="vzoom" title="Maximize - Minimize" data-status="on" id="btnzoom">
            <i class="fa fa-compress"></i>
        </span>
        <span class="vclose" style="color: #fff; padding-right: 8px; cursor: pointer; line-height: 25px;" title="Đóng Video này" id="btnclose">Đóng</span>

    </div>
    </div>



</head>

<body class="xehay">
    <div class="container">
        @{Html.RenderAction("HeaderXipo", "Home");}
        @RenderBody()

      
        @{ Html.RenderAction("FooterXipo", "Home");}
    </div>
    <div class="mobile scrolltotop">
        <img src="/Assets/client/data/gototop.png" />
    </div>

    <script type="text/javascript">
        var addthis_config = addthis_config || {};
        addthis_config.data_track_addressbar = false;
        addthis_config.data_track_clickback = false;
    </script>
    <script>
        $('.scrolltotop').on('click', function () {
            var body = $("html, body");
            body.animate({
                scrollTop: 0
            }, '500', 'swing', function () { });
        });
        $(document).ready(function (e) {



            //                $('nav.menu ul li.active').prev().css({'border-right': 0});
        });


        $('.open-menu').on('click', function () {
            $('#mobile-menu').show();
            $('.wrapper-close-menu').show();
        });
        $('.wrapper-close-menu').on('click', function () {
            $('#mobile-menu').toggle();
            $('.wrapper-close-menu').hide();
        });
        $('.icon-close').on('click', function () {
            $('.search-holder').hide();
        });
        $('.mobile-icon-search').on('click', function () {
            $('.search-holder').show({
                'duration': 300,
                'easing': 'linear'
            });
        });

        $('.top-ads img').load(function () {
            $(this).css({
                'width': '95%'
            });
        });
        setTimeout(function () {
            $('.top-ads a > img').parent().css({
                'height': 'auto'
            });
            $('.top-ads .no-flash').css({
                'width': '100%'
            });
        }, 500);
    </script>




    <script type="text/javascript">
        setTimeout(function () {
            var isiPad = navigator.userAgent.match(/iPad/i) != null;
            if (!FlashDetect.installed) {
                $('.no-flash').css({
                    display: 'block'
                });
                $('.track-impression').attr('src', 'https://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=tf&c=19&mc=imp&pli=15736740&PluID=0&ord=[timestamp]&rtu=-1');
                $('.track-impression').attr('src', 'https://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=tf&c=19&mc=imp&pli=16254372&PluID=0&ord=[timestamp]&rtu=-1');
                $('.richmedia, .richmedia-flash, .flash').css({
                    display: 'none'
                });
            }
        }, 500);
    </script>




    <div style='display:none'>
        <div id='inline_content' style='padding:10px; background:#fff;'>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            w_height = $(window).height();
            $(document).scroll(function () {
                var scrollTop = $(document).scrollTop();
                if (scrollTop > 100) $('#gotop-link').fadeIn();
                else $('#gotop-link').fadeOut();
                $('.floating-ads').each(function () {
                    var $ads = $(this);
                    var parentTop = parseInt($ads.attr('data-top'));
                    if (scrollTop > 100) {
                        //$ads.css('top', scrollTop - parentTop + parseInt($ads.attr('data-top')) + 34);
                        $ads.css('top', scrollTop + w_height / 2 - 250);
                    } else {
                        //$ads.css('top', parseInt($ads.attr('data-top')));
                        $ads.css('top', w_height / 2 - 250);
                    }
                });
            });
        });
    </script>

</body>

</html>
