<connectionStrings>
  <clear />
	<add name="TeduShopConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=XipoSG;Integrated Security=False;User Id=admin;Password=Admin@2022!;MultipleActiveResultSets=True"/>
</connectionStrings>
<!--<connectionStrings>
  <clear />
  <add name="TeduShopConnection" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-4323C3L;Initial Catalog=TeduShop;Integrated Security=False;MultipleActiveResultSets=True" />
</connectionStrings>-->